#container {
    border: 40px grey solid;
    width: 1000px;
    margin: 10px auto;
    overflow: hidden;
}

img {
    width: 1000px;
    height: 800px;
    transition: transform 2s;
    z-index: 1;
    scale: 1.1;
}

#content {
    background-color: rgb(211, 187, 158);
    position: absolute;
    top: 50px;
    width: 1000px;
    height: 805px;
    z-index: 2;
    transform: scale(0);
    transition: transform 1s, rotate 2s;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container:hover #content {
    transform: scale(1) rotate(360deg);
}

#container:hover img {
    transform: scale(2);
}

#content h1 {
    font-size: 44px;
    margin-bottom: 10px;
    border-bottom: 5px solid #333;
}

#content p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

#content a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
}

#content a:hover {
    background-color: #555;
}
